* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} /* Components */
.header {
  width: 100%;
  height: auto;
  position: relative;
}
.header .navbar {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 15px;
  background-color: transparent;
}
.header .navbar .container-fluid {
  max-width: 1200px;
}
.header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 600;
}
.header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #1fe1ba;
  transform: scale(1.2);
  transition: 0.4s;
}
.header .navbar .container-fluid .collapse .navbar-nav .nav-item #class-link {
  text-align: center;
  margin-top: 3px;
  background-color: #1fe1ba;
  border-radius: 20px;
  padding: 5px;
  width: 7ch;
  font-weight: 600;
}
.header .navbar .container-fluid .collapse .navbar-nav .nav-item #class-link:hover {
  width: 10ch;
  color: #fff;
  transform: scale(1);
}
.header .reaparecer {
  position: fixed;
  background-color: #222;
  animation: aparicion 0.4s 1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  z-index: 100;
}
.header .reaparecer .animacion {
  animation: aparicion 1s 1;
}
@keyframes aparicion {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.body-container {
  height: auto;
  width: 100%;
}
.body-container .main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-container .main-container .home-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/pexels-andrea-piacquadio-3838389.jpg) no-repeat top center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-container .main-container .home-section .home-info {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.body-container .main-container .home-section .home-info .main-title {
  text-align: left;
  max-width: 50%;
  font-size: 65px;
  line-height: 70px;
  color: #eee;
}
.body-container .main-container .home-section .home-info .main-p {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 20px;
  color: #ddd;
  font-weight: 600;
}
.body-container .main-container .home-section .home-info .main-button {
  width: 20ch;
  border: 1px solid #1fe1ba;
  background: transparent;
  color: #fff;
  border-radius: 20px;
  margin-top: 25px;
  height: 55px;
  font-size: 18px;
  margin-left: 10px;
}
.body-container .main-container .home-section .home-info .main-button:hover {
  background-color: #1fe1ba;
}

.clases-section {
  height: auto;
  width: 100%;
  background-color: #202128;
}
.clases-section .clases-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.clases-section .clases-container .clases-title-container {
  text-align: center;
}
.clases-section .clases-container .clases-title-container .clases-title {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 40px;
  color: #eee;
  margin-top: 80px;
  margin-bottom: 80px;
}
.clases-section .clases-container .clases-info {
  max-width: 1100px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.clases-section .clases-container .clases-info .clase {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
  border-radius: 5px;
}
.clases-section .clases-container .clases-info .clase .clases-img {
  height: 320px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.clases-section .clases-container .clases-info .clase span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  display: none;
}
.clases-section .clases-container .clases-info .clase:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.5), rgba(31, 225, 186, 0.5)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .clase:hover span {
  display: inline;
}
.clases-section .clases-container .clases-info .spinning {
  background: url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;
}
.clases-section .clases-container .clases-info .spinning:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .funcional {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .funcional:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .musculacion {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .musculacion:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .calistenia {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/street-workout-2628919_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .calistenia:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/street-workout-2628919_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .aireLibre {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/workout-5914643_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .aireLibre:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/workout-5914643_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container #classBtn {
  text-align: center;
  margin-top: 3px;
  background-color: #1fe1ba;
  border-radius: 10px;
  padding: 5px;
  width: 12ch;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 120px;
  border: none;
  scale: 1.1;
}
.clases-section .clases-container #classBtn:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.clases-section .clases-fechas {
  width: 100%;
  height: 100vh;
  background: url("../assets/627e923543fae8b1070581d0_FONDO plataformas.jpg") no-repeat center top fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clases-section .clases-fechas .diasDeClase-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase h3 {
  margin-bottom: 50px;
  font-size: 45px;
  color: #202128;
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase {
  text-align: center;
  color: #000;
  border: none;
  background-color: #ddd;
  border-radius: 20px;
  padding: 5px;
  width: 15ch;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  transition: 0.3s;
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase:hover {
  color: #eee;
  background-color: #1fe1ba;
  cursor: pointer;
  transform: scale(1.1);
}
.clases-section .clases-fechas .diasDeClase-container .horarios {
  width: 50%;
<<<<<<< HEAD
  margin-top: 100px;
=======
>>>>>>> 6bb818982d500c6d386ae4c26a1ddf9fd35eb554
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  background-color: #1fe1ba;
  color: #eee;
  border: 1px solid #fff;
  margin-top: 80px;
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .thead {
  border: 1px solid #fff;
  background-color: rgba(34, 170, 170, 0.6666666667);
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody {
  border: 1px solid #fff;
  font-size: 17px;
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody .table-row .table-element {
  border: 1px solid #eee;
}
.clases-section .clases-fechas .diasDeClase-container .animacion {
  animation: aparicionComoFunciona 1s 1;
}
@keyframes aparicionComoFunciona {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}/*# sourceMappingURL=styles.css.map */