* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} /* Components */
.header {
  width: 100%;
  height: auto;
  position: relative;
}
.header .navbar {
  background-color: transparent;
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 15px;
}
.header .navbar .container-fluid {
  max-width: 1200px;
}
.header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 600;
}
.header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #1fe1ba;
  transform: scale(1.2);
  transition: 0.4s;
}
.header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item #class-link {
  text-align: center;
  margin-top: 3px;
  background-color: #1fe1ba;
  border-radius: 20px;
  padding: 5px;
  width: 7ch;
  font-weight: 600;
}
.header .navbar .container-fluid .offcanvas-body .navbar-nav .nav-item #class-link:hover {
  width: 10ch;
  color: #fff;
  transform: scale(1);
}
.header .reaparecer {
  position: fixed;
  background-color: #111;
  animation: aparicion 0.4s 1;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-top: 0;
  z-index: 100;
}
.header .reaparecer:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
}
.header .reaparecer .animacion {
  animation: aparicion 1s 1;
}
@keyframes aparicion {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.body-container {
  height: auto;
  width: 100%;
  position: relative;
}
.body-container .wpp-container .contactanos-popUp {
  display: none;
  color: #fff;
  position: fixed;
  right: 70px;
  bottom: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.body-container .wpp-container .wpp-contact {
  position: fixed;
  height: 70px;
  right: 0;
  bottom: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  z-index: 1300;
}
.body-container .wpp-container:hover .contactanos-popUp {
  display: inline;
}
.body-container .cart {
  display: none;
  position: fixed;
  width: 45%;
  right: 1%;
  top: 15vh;
  z-index: 1000;
  box-shadow: 0px 2px 5px 0px;
  top: 15vh;
  animation: 1 aparecer 0.7s;
}
@keyframes desaparecer {
  0% {
    top: 15vh;
  }
  100% {
    top: -300px;
  }
}
.body-container .main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-container .main-container .home-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/pexels-andrea-piacquadio-3838389.jpg) no-repeat right center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 280px) {
  .body-container .main-container .home-section .home-info {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .body-container .main-container .home-section .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
  }
}
@media screen and (min-width: 1300px) {
  .body-container .main-container .home-section .home-info {
    padding-left: 0;
  }
}
@media screen and (min-width: 280px) {
  .body-container .main-container .home-section .home-info .main-title {
    font-size: 40px;
    line-height: 50px;
    color: #eee;
    max-width: 90%;
    text-align: center;
  }
}
@media screen and (min-width: 500px) {
  .body-container .main-container .home-section .home-info .main-title {
    font-size: 45px;
    max-width: 80%;
  }
}
@media screen and (min-width: 550px) {
  .body-container .main-container .home-section .home-info .main-title {
    font-size: 45px;
    max-width: 85%;
  }
}
@media screen and (min-width: 670px) {
  .body-container .main-container .home-section .home-info .main-title {
    font-size: 55px;
    max-width: 80%;
    line-height: 70px;
  }
}
@media screen and (min-width: 992px) {
  .body-container .main-container .home-section .home-info .main-title {
    font-size: 60px;
    width: 60%;
    text-align: left;
  }
}
.body-container .main-container .home-section .home-info .main-p {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 15px;
  color: #ddd;
  font-weight: 600;
}
@media screen and (min-width: 670px) {
  .body-container .main-container .home-section .home-info .main-p {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .body-container .main-container .home-section .home-info .main-p {
    font-size: 21px;
  }
}
.body-container .main-container .home-section .home-info .main-button {
  width: 19ch;
  border: 1px solid #1fe1ba;
  background: transparent;
  color: #fff;
  border-radius: 20px;
  margin-top: 25px;
  height: 55px;
  font-size: 15px;
  margin-left: 10px;
}
.body-container .main-container .home-section .home-info .main-button:hover {
  background-color: #1fe1ba;
}
@media screen and (min-width: 670px) {
  .body-container .main-container .home-section .home-info .main-button {
    width: 22ch;
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .body-container .main-container .home-section .home-info .main-button {
    font-size: 18px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .body-container .main-container .home-section .home-info .main-button {
    font-size: 20px;
  }
}

.clases-section {
  min-height: 50vh;
  width: 100%;
  background-color: #202128;
}
.clases-section .clases-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.clases-section .clases-container .clases-title-container {
  text-align: center;
}
.clases-section .clases-container .clases-title-container .clases-title {
  padding-left: 50px;
  padding-right: 50px;
  color: #eee;
  margin-top: 100px;
  margin-bottom: 80px;
}
@media screen and (min-width: 500px) {
  .clases-section .clases-container .clases-title-container .clases-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 670px) {
  .clases-section .clases-container .clases-title-container .clases-title {
    font-size: 35px;
  }
}
.clases-section .clases-container .clases-info {
  max-width: 1100px;
  width: 75%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 992px) {
  .clases-section .clases-container .clases-info {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .clases-section .clases-container .clases-info {
    width: 100%;
  }
}
.clases-section .clases-container .clases-info .clase {
  max-width: 790px;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 5px;
}
.clases-section .clases-container .clases-info .clase .clases-img {
  height: 320px;
  max-width: 80%;
  padding: 0;
  margin: 0;
}
.clases-section .clases-container .clases-info .clase span {
  position: absolute;
  color: #fff;
  text-shadow: 5px 5px 9px #000;
  font-weight: bold;
  font-size: 25px;
}
@media screen and (min-width: 992px) {
  .clases-section .clases-container .clases-info .clase span {
    display: none;
  }
}
.clases-section .clases-container .clases-info .clase:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.5), rgba(31, 225, 186, 0.5)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .clase:hover span {
  display: inline;
}
.clases-section .clases-container .clases-info .spinning {
  background: url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center fixed;
  background-size: cover;
}
.clases-section .clases-container .clases-info .spinning:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .funcional {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .funcional:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .musculacion {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .musculacion:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .calistenia {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/street-workout-2628919_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .calistenia:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/street-workout-2628919_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container .clases-info .aireLibre {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/workout-5914643_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1);
}
.clases-section .clases-container .clases-info .aireLibre:hover {
  background: linear-gradient(rgba(31, 225, 186, 0.4), rgba(31, 225, 186, 0.4)), url("../assets/workout-5914643_640 (1).jpg") no-repeat center center fixed;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.4s;
}
.clases-section .clases-container #classBtn {
  text-align: center;
  margin-top: 3px;
  background-color: #1fe1ba;
  border-radius: 10px;
  padding: 5px;
  width: 12ch;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 120px;
  border: none;
  scale: 1.1;
}
.clases-section .clases-container #classBtn:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.clases-section .clases-fechas {
  width: 100%;
  min-height: 100vh;
  background: url("../assets/627e923543fae8b1070581d0_FONDO plataformas.jpg") no-repeat center top fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* @include desktop{
      @include flex(column,center,flex-start);
  } */
}
.clases-section .clases-fechas .diasDeClase-container {
  width: 100%;
  max-width: 1100px;
}
.clases-section .clases-fechas .diasDeClase-container h3 {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 30px;
  text-align: center;
  color: #202128;
}
@media screen and (min-width: 500px) {
  .clases-section .clases-fechas .diasDeClase-container h3 {
    font-size: 35px;
  }
}
@media screen and (min-width: 770px) {
  .clases-section .clases-fechas .diasDeClase-container h3 {
    font-size: 38px;
  }
}
@media screen and (min-width: 992px) {
  .clases-section .clases-fechas .diasDeClase-container h3 {
    font-size: 43px;
  }
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase {
  width: 100%;
  /* @include flex(row,flex-start,center);  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
@media screen and (min-width: 500px) {
  .clases-section .clases-fechas .diasDeClase-container .diasDeClase {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .clases-section .clases-fechas .diasDeClase-container .diasDeClase {
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
  }
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase {
  text-align: center;
  color: #000;
  border: none;
  background-color: #ddd;
  border-radius: 20px;
  width: 14ch;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  transition: 0.3s;
}
.clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase:hover {
  color: #eee;
  background-color: #1fe1ba;
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (min-width: 600px) {
  .clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .clases-section .clases-fechas .diasDeClase-container .diasDeClase .diaClase {
    font-size: 20px;
  }
}
.clases-section .clases-fechas .diasDeClase-container .horarios {
  width: 50%;
  /* margin-top: 20px; */
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla {
  text-align: center;
  width: 90%;
  border-radius: 10px;
  background-color: #1fe1ba;
  color: #eee;
  border: 1px solid #fff;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}
@media screen and (min-width: 770px) {
  .clases-section .clases-fechas .diasDeClase-container .horarios .tabla {
    width: 65%;
  }
}
@media screen and (min-width: 992px) {
  .clases-section .clases-fechas .diasDeClase-container .horarios .tabla {
    width: 75%;
  }
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .thead {
  border: 1px solid #fff;
  background-color: rgba(34, 170, 170, 0.6666666667);
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody {
  border: 1px solid #fff;
  font-size: 13px;
}
@media screen and (min-width: 500px) {
  .clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody {
    font-size: 15px;
  }
}
@media screen and (min-width: 670px) {
  .clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody {
    font-size: 18px;
  }
}
.clases-section .clases-fechas .diasDeClase-container .horarios .tabla .tbody .table-row .table-element {
  border: 1px solid #eee;
}
.clases-section .clases-fechas .diasDeClase-container .animacion {
  animation: aparicionComoFunciona 1s 1;
}
@keyframes aparicionComoFunciona {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.planes-section {
  min-height: 100vh;
  width: 100%;
  background-color: #202128;
  margin-bottom: 150px;
}
.planes-section .planes-title {
  text-align: center;
  color: #eee;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
}
@media screen and (min-width: 500px) {
  .planes-section .planes-title {
    font-size: 46px;
  }
}
@media screen and (min-width: 992px) {
  .planes-section .planes-title {
    font-size: 50px;
  }
}
.planes-section .planes-container {
  height: auto;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  margin-top: 5%;
  gap: 30px;
}
@media screen and (min-width: 670px) {
  .planes-section .planes-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .planes-section .planes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.planes-section .planes-container .planes {
  background-color: #ddd;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* @media screen and (min-width:1300px) {
      height: 36rem;
  } */
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes {
    height: 30rem;
    width: 70%;
  }
}
@media screen and (min-width: 500px) {
  .planes-section .planes-container .planes {
    height: 31rem;
  }
}
@media screen and (min-width: 670px) {
  .planes-section .planes-container .planes {
    width: 90%;
    height: 39rem;
  }
}
@media screen and (min-width: 770px) {
  .planes-section .planes-container .planes {
    height: 36rem;
  }
}
@media screen and (min-width: 992px) {
  .planes-section .planes-container .planes {
    height: 35rem;
    width: 95%;
  }
}
@media screen and (min-width: 1100px) {
  .planes-section .planes-container .planes {
    height: 36rem;
  }
}
@media screen and (min-width: 1300px) {
  .planes-section .planes-container .planes {
    width: 100%;
    height: 38rem;
  }
}
.planes-section .planes-container .planes:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes h5 {
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 500px) {
  .planes-section .planes-container .planes h5 {
    font-size: 35px;
  }
}
@media screen and (min-width: 670px) {
  .planes-section .planes-container .planes h5 {
    font-weight: 600;
    color: #202128;
  }
}
@media screen and (min-width: 1200px) {
  .planes-section .planes-container .planes h5 {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes .precio {
    font-size: 25px;
    color: #444;
    font-weight: bold;
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .planes-section .planes-container .planes .precio {
    font-size: 35px;
  }
}
@media screen and (min-width: 770px) {
  .planes-section .planes-container .planes .precio {
    font-size: 40px;
  }
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes .tarjetaSpan {
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 2px solid #555;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes .plan-span-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    text-align: start;
  }
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes .plan-span-container span {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 400px) {
  .planes-section .planes-container .planes .plan-span-container span {
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) {
  .planes-section .planes-container .planes .plan-span-container span {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .planes-section .planes-container .planes .plan-span-container span {
    font-size: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .planes-section .planes-container .planes .plan-span-container span {
    font-size: 17px;
  }
}
@media screen and (min-width: 280px) {
  .planes-section .planes-container .planes .plan-span-container .adquirir-planBtn {
    align-self: center;
    margin-top: 25%;
    background-color: transparent;
    width: 60%;
    border-radius: 10px;
    height: 35px;
    border: none;
    background-color: #1fe1ba;
    color: #eee;
    transition: 0.3s;
    font-size: 13px;
  }
  .planes-section .planes-container .planes .plan-span-container .adquirir-planBtn:hover {
    transform: scale(1.15);
  }
}
@media screen and (min-width: 500px) {
  .planes-section .planes-container .planes .plan-span-container .adquirir-planBtn {
    font-size: 16px;
    height: 40px;
  }
}
.planes-section .planes-container .rookie h5 .spanTitle {
  color: #1fe1ba;
}
.planes-section .planes-container .advanced h5 .spanTitle {
  color: #c0006e;
}
.planes-section .planes-container .advanced .plan-span-container .adquirir-planBtn {
  background-color: #c0006e;
}
.planes-section .planes-container .shark h5 .spanTitle {
  color: #dc143c;
}
.planes-section .planes-container .shark .plan-span-container .adquirir-planBtn {
  background-color: #dc143c;
}

.footer-container {
  min-height: 40vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(11, 19, 37);
  color: #fff;
  background-color: #202128;
  border-top: 1px solid #101017;
  padding-top: 50px;
}
.footer-container .footer-title {
  font-size: 35px;
}
.footer-container .footer-title span {
  color: #1fe1ba;
}
.footer-container .redes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-container .redes-container .red-social img {
  height: 32px;
  margin-right: 20px;
}
.footer-container .redes-container .red-social img:hover {
  transform: scale(1.15);
  transition: 0.5s;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */