.clases-section{
    min-height: 50vh;
    width: 100%;
    background-color: $bgColor1;




    .clases-container{
        width: 100%;
        @include flex(column,center,center);
        transition: .4s;
        .clases-title-container{

            text-align: center;
            .clases-title{
                padding-left:50px ;
                padding-right: 50px;
                
                color: #eee;
                margin-top: 100px;
                margin-bottom: 80px;

                @include max-mobile{
                    font-size: 30px;
                }
                @include min-tablet{
                    font-size: 35px;
                }
            }
        }


        .clases-info{
            max-width: 1100px;
            width: 75%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            
            

            @include desktop{
                grid-template-columns: 1fr 1fr;
                width: 90%;
            }
            @media screen and (min-width:1200px) {
                width: 100%;
            }

            .clase{
                max-width: 790px;
                padding: 0;
                margin: 0;
                
                .clases-img{
                    height: 320px;
                    max-width: 80%;
                    padding: 0;
                    margin: 0;
                                        
                }

                position: relative;
                @include flex(row,center,center);

                background:linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
                background-size: cover;
                border-radius: 5px;
                span{
                    position:absolute;
                    color: #fff;
                    text-shadow: 5px 5px 9px #000;
                    font-weight: bold;
                    font-size: 25px;
                    
                    @include desktop{
                        display: none;
                    }
                }

                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.5), rgba(31,225,186,0.5)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
                    transform: scale(1.05);
                    span{
                        display: inline;
                    }
                    transition: .4s;
                }
                
            }


             .spinning{

                background:url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center fixed;
                background-size: cover;

                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;
                    transform: scale(1.05);

                    transition: .4s;
                }
            }

            .funcional{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }
            
            .musculacion{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

            .calistenia{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/street-workout-2628919_640\ \(1\).jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/street-workout-2628919_640\ \(1\).jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

            .aireLibre{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/workout-5914643_640\ \(1\).jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/workout-5914643_640\ \(1\).jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

        }

        #classBtn{
            text-align: center;
            margin-top: 3px; 
            background-color:#1fe1ba;
            border-radius: 10px;
            padding: 5px;
            width: 12ch;
            font-weight: 500; 
            color: #fff;
            margin-top: 100px;
            margin-bottom: 120px;
            border: none;
            scale: 1.1;
            &:hover{
                               
                transform: scale(1.2);
                transition: .4s;
            }
        }


    }
    

    .clases-fechas{
        width: 100%;
        
        min-height: 100vh;
        background:url("../assets/627e923543fae8b1070581d0_FONDO\ plataformas.jpg") no-repeat center top fixed;
        background-size: cover;

        @include flex(row,center,flex-start);

        /* @include desktop{
            @include flex(column,center,flex-start);
        } */

        .diasDeClase-container{
            width: 100%;
            max-width: 1100px;
            
            h3{
                margin-top: 80px;
                margin-bottom: 80px;
                font-size: 30px;
                text-align: center;
                color: $bgColor1;
                @include max-mobile{
                    font-size: 35px;
                }
                @include max-tablet{
                    font-size: 38px;
                }
                @include desktop{
                    font-size: 43px;
                }
            }
            .diasDeClase{
                width: 100%;
                
                /* @include flex(row,flex-start,center);  */               
                display: grid;
                grid-template-columns: repeat(2,1fr);
                place-items: center;
                
                @include max-mobile{
                    grid-template-columns: repeat(3,1fr);
                    width: 80%;
                    margin: auto;
                }
                @include desktop{
                    grid-template-columns: repeat(6,1fr);
                    width: 90%;
                }

                .diaClase{
                    
                    text-align: center;
                    color: #000;
                    border: none;
                    background-color:#ddd;
                    border-radius: 20px;
                    
                    width: 14ch;
                    padding: 10px;
                    margin-bottom: 15px;
                    font-size: 16px;
                    transition: .3s;
                    &:hover{
                        color: #eee;
                        background-color: $secondaryColor;
                        cursor: pointer;
                        transform: scale(1.1);
                    }

                    @media screen and (min-width:600px) {
                        font-size: 18px;                        
                    }
                    @include desktop{
                        font-size: 20px;
                    }
                }
            }

            .horarios{
                width: 50%;
                /* margin-top: 20px; */
                

                .tabla{
                    text-align: center;
                    width: 90%;                    
                    border-radius: 10px;
                    background-color: $secondaryColor;
                    color: #eee;
                    border: 1px solid #fff;
                    margin: auto;
                    margin-top: 80px;
                    margin-bottom: 30px;

                    @include max-tablet{
                        width: 65%;
                    }
                    @include desktop{
                        width: 75%;
                    }

                    .thead{
                        border: 1px solid #fff;
                        background-color: #2aaa;
                        
                    }
                    .tbody{
                        border: 1px solid #fff;
                        font-size: 13px;

                        @include max-mobile{
                            font-size: 15px;
                        }
                        @include min-tablet{
                            font-size: 18px;
                        }

                        .table-row{
                            
                            .table-element{
                                border: 1px solid #eee;
                            }
                        }
                    }

                }
                
            }
            .animacion{
                animation: aparicionComoFunciona 1s 1;
    
            @keyframes aparicionComoFunciona{
                0%{
                    opacity: 0%;
                }
                100%{opacity: 100%;}
            }
            }
        }
    }

    
}