.clases-section{
    height: auto;
    width: 100%;
    background-color: $bgColor1;




    .clases-container{
        width: 100%;
        @include flex(column,center,center);
        transition: .4s;
        .clases-title-container{

            text-align: center;
            .clases-title{
                padding-left:50px ;
                padding-right: 50px;
                font-size: 40px;
                color: #eee;
                margin-top: 100px;
                margin-bottom: 80px;
            }
        }


        .clases-info{
            max-width: 1100px;
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .clase{
                padding: 0;
                margin: 0;
                
                .clases-img{
                    height: 320px;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                                        
                }

                position: relative;
                @include flex(row,center,center);

                background:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
                border-radius: 5px;
                span{
                    position:absolute;
                    color: #fff;
                    font-weight: bold;
                    font-size: 25px;
                    display: none;
                }

                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.5), rgba(31,225,186,0.5)), url("../assets/pexels-rodnae-productions-7187935.jpg") no-repeat center center;
                    transform: scale(1.05);
                    span{
                        display: inline;
                    }
                    transition: .4s;
                }
                
            }


             .spinning{

                background:url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;

                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/pexels-cottonbro-studio-7689278.jpg") no-repeat center center;
                    transform: scale(1.05);

                    transition: .4s;
                }
            }

            .funcional{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/pexels-pixabay-414029.jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }
            
            .musculacion{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/training-828741_1920.jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

            .calistenia{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/street-workout-2628919_640\ \(1\).jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/street-workout-2628919_640\ \(1\).jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

            .aireLibre{

                background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../assets/workout-5914643_640\ \(1\).jpg") no-repeat center center fixed;
                background-size: cover;
                transform: scale(1.00);
                &:hover{
                    background: linear-gradient(rgba(31,225,186,0.4), rgba(31,225,186,0.4)), url("../assets/workout-5914643_640\ \(1\).jpg") no-repeat center center fixed;
                    background-size: cover;
                    transform: scale(1.05);
                    transition: .4s;
                }
            }

        }

        #classBtn{
            text-align: center;
            margin-top: 3px; 
            background-color:#1fe1ba;
            border-radius: 10px;
            padding: 5px;
            width: 12ch;
            font-weight: 500; 
            color: #fff;
            margin-top: 100px;
            margin-bottom: 120px;
            border: none;
            scale: 1.1;
            &:hover{
                               
                transform: scale(1.2);
                transition: .4s;
            }
        }


    }
    

    .clases-fechas{
        width: 100%;
        
        height: 100vh;
        background:url("../assets/627e923543fae8b1070581d0_FONDO\ plataformas.jpg") no-repeat center top fixed;
        background-size: cover;

        @include flex(row,center,center);

        .diasDeClase-container{
            width: 100%;
            max-width: 1200px;
            @include flex(row,center,center);

            .diasDeClase{
                width: 50%;
                padding-left: 100px;
                @include flex(column,center,center);
                

                h3{

                    margin-bottom: 80px;
                    font-size: 45px;
                    color: $bgColor1;
                }
                .diaClase{
                    
                    text-align: center;
                    color: #000;
                    border: none;
                    background-color:#ddd;
                    border-radius: 20px;
                    padding: 5px;
                    width: 15ch;
                    padding: 10px;
                    margin-bottom: 15px;
                    font-size: 20px;
                    transition: .3s;
                    &:hover{
                        color: #eee;
                        background-color: $secondaryColor;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }

            .horarios{
                width: 50%;
                margin-top: 20px;

                .tabla{
                    text-align: center;
                    width: 100%;                    
                    border-radius: 10px;
                    background-color: $secondaryColor;
                    color: #eee;
                    border: 1px solid #fff;
                    margin-top: 80px;

                    .thead{
                        border: 1px solid #fff;
                        background-color: #2aaa;
                        
                    }
                    .tbody{
                        border: 1px solid #fff;
                        font-size: 17px;

                        .table-row{
                            
                            .table-element{
                                border: 1px solid #eee;
                            }
                        }
                    }

                }
                
            }
            .animacion{
                animation: aparicionComoFunciona 1s 1;
    
            @keyframes aparicionComoFunciona{
                0%{
                    opacity: 0%;
                }
                100%{opacity: 100%;}
            }
            }
        }
    }

    
}