.header{
    width: 100%;
    height: auto;
    position: relative;
    

    .navbar{
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 15px;
        background-color: transparent;

        .container-fluid{
            max-width: 1200px;


            .collapse{
                .navbar-nav{

                    .nav-item{
                        
                        .nav-link{
                            color: #fff;
                            font-weight: 600;
                            &:hover{
                                color: $secondaryColor;
                                transform: scale(1.20);
                                transition: .4s;
                            }
                        }

                        #class-link{
                            text-align: center;
                            margin-top: 3px; 
                            background-color:#1fe1ba;
                            border-radius: 20px;
                            padding: 5px;
                            width: 7ch;
                            font-weight: 600; 
                            
                            &:hover{
                                width: 10ch;
                                color: #fff;
                                transform: scale(1.0);
                            }
                        }


                    }
                }
            }

        }
    }
    .reaparecer{
        position: fixed;
        background-color: #111;
        animation: aparicion .4s 1;
        padding-bottom: 7px;
        padding-top: 7px;
        margin-top: 0;
        z-index: 100;


        &:hover{
            padding-top: 15px;
            padding-bottom: 15px;
            transition: .3s;
        }

        .animacion{
            animation: aparicion 1s 1;

        @keyframes aparicion{
            0%{
                opacity: 0%;
            }
            100%{opacity: 100%;}
        }
        }
    }
}